/* Responsive breakpoints */
$width-mobile-s: 320px;
$width-mobile-m: 375px;
$width-mobile-l: 425px;
$width-tablet: 768px;
$width-laptop: 1024px;

/* Main colors*/
$main-text-color: #6d6d6d;
$background: #333333;
$secundary: #dc851f;
$tertiary: #e8ebf7;
$text-color: white;
$sidebar-hover: rgb(107, 192, 107);

$table: #666666;
